@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@100&display=swap');

html {
   margin: 0px;
   height: 100%;
   width: 100%;
   background-color: black;
   font-family: 'Libre Franklin', sans-serif;
   scroll-behavior: smooth;
}

body {
   margin: 0px;
   min-height: 100%;
   width: 100%;
   overflow-x: hidden;
}


.navbar.scrolled{
   background-color:rgb(9,9,9, 0.5);
}
.navbar.illumminate{
   background: linear-gradient(to right, #31117b, rgb(17, 105, 87));
   transition: 1s;
}
.fade-in {
   opacity: 0;
   transform: translateY(20px);
   transition: opacity 0.5s ease, transform 0.5s ease;
 }
 
 .fade-in.active {
   opacity: 1;
   transform: translateY(0);
 }

.logo:hover {
   filter: brightness(0.6); 
   transition: 0.25s;
}


.footer {
   position: relative;
   width: 100%;
   background: #1a2e44;
   min-height: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 
 .social-icon,
 .menu {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
 }
 
 .social-icon__item,
 .menu__item {
   list-style: none;
 }
 
 .social-icon__link {
   font-size: 2rem;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
 }
 .social-icon__link:hover {
   transform: translateY(-10px);
 }
 
 .menu__link {
   font-size: 1.2rem;
   color: #fff;
   margin: 0 10px;
   display: inline-block;
   transition: 0.5s;
   text-decoration: none;
   opacity: 0.75;
   font-weight: 300;
 }
 
 .menu__link:hover {
   opacity: 1;
 }
 
 .footer p {
   color: #fff;
   margin: 15px 0 10px 0;
   font-size: 1rem;
   font-weight: 300;
 }
 
 .wave {
   position: absolute;
   top: -100px;
   left: 0;
   width: 100%;
   height: 100px;
   background: url("../public/wave.png");
   background-size: 1000px 100px;
 }
 .wave{
   color:#1a2e44;
 }
 .wave#wave1 {
   color:#1a2e44;
   z-index: 10;
   opacity: 1;
   bottom: 0;
   animation: animateWaves 4s linear infinite;
 }
 
 .wave#wave2 {
   color:#1a2e44;
   z-index: 9;
   opacity: 0.5;
   bottom: 10px;
   animation: animate 4s linear infinite !important;
 }
 
 .wave#wave3 {
   color:#1a2e44;
   z-index: 10;
   opacity: 0.2;
   bottom: 15px;
   animation: animateWaves 3s linear infinite;
 }
 
 .wave#wave4 {
   color:#1a2e44;
   z-index: 9;
   opacity: 0.7;
   bottom: 20px;
   animation: animate 3s linear infinite;
 }
 
 @keyframes animateWaves {
   0% {
     background-position-x: 1000px;
   }
   100% {
     background-positon-x: 0px;
   }
 }
 
 @keyframes animate {
   0% {
     background-position-x: -1000px;
   }
   100% {
     background-positon-x: 0px;
   }}